@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: #7D17FF;
  --color-primary-hover: #6404de;
  --color-secondary: #64748b;
  --color-secondary-hover: #475569;
 --color-danger: #ef4444;
  --color-danger-hover: #dc2626;     
}

.dark body {
  @apply bg-gray-950 text-white transition
}

.light body {
  @apply bg-white text-gray-900 transition;
}

.dark aside {
  @apply bg-gray-900 text-white transition
}

.light aside {
  @apply bg-gray-200 text-gray-900 transition;
}

.btn {
  @apply py-1 inline-block px-3 font-semibold rounded-lg shadow-md focus:outline-none focus:ring-0
}

.btn-primary {
  @apply bg-primary text-white hover:bg-primary-hover border-2 border-primary hover:border-primary-hover;
}

.btn-primary-outline {
  @apply bg-white border-2 border-primary hover:border-primary-hover text-primary hover:text-white hover:bg-primary-hover;
}

.btn-secondary {
  @apply bg-secondary text-white hover:bg-secondary-hover;
}

.btn-secondary-outline {
  @apply bg-white border-2 border-secondary hover:border-secondary-hover text-secondary hover:text-white hover:bg-secondary-hover;
}

.btn-danger {
  @apply bg-danger text-white hover:bg-danger-hover;
}

.btn-link {
  @apply bg-transparent p-0 hover:text-primary cursor-pointer;
}

h1 {
  @apply text-6xl font-semibold mt-0 mb-2
}

h2 {
  @apply text-5xl font-semibold mt-0 mb-2
}

h3 {
  @apply text-4xl font-semibold mt-0 mb-2
}

h4 {
  @apply text-3xl font-semibold mt-0 mb-2
}

h5 {
  @apply text-2xl font-semibold mt-0 mb-2
}

h6 {
  @apply text-xl font-semibold mt-0 mb-2
}

input {
  @apply px-3 py-2 border border-secondary focus:border-primary focus:outline-0 rounded
}
/*
--------------------------------------------------------------
pagination css
--------------------------------------------------------------
*/
.pagination {
  @apply flex justify-start items-center p-0 list-none;
}
.pagination-item {
  @apply w-8 h-8 text-center leading-8
}
.pagination-item .active {
  @apply bg-white text-primary;
}
.pagination-item button {
  border: none;
  cursor: pointer;
  background: none;
  font: inherit;
  font-family: inherit;
  text-decoration: none;
  padding: 0;
  @apply w-8 h-8 flex justify-center items-center;
}
button[disabled], html input[disabled] {
  color: lightgray;
}